@model System.Collections.Generic.List<LicensePlatePractice.Models.Car>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Licence Plates</title>
    <meta charset="utf-8" />
</head>
<body>
    Body, body fire!
    @*<table border="1">*@
    <table border="1">
        <tr>
            <td>Plate</td>
            <td>Brand</td>
            <td>Model</td>
            <td>Color</td>
            <td>Year</td>
        </tr>
        @foreach (var car in @Model)
        {
            <tr>
                <td>@car.LicensePlate</td>
                <td>@car.CarBrand</td>
                <td>@car.CarModel</td>
                <td>@car.Color</td>
                <td>@car.Year</td>
            </tr>
        }
    </table>
</body>
</html>