@model WebStore.Models.SummarizedItem
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Your selection</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1 align="center">Your selection of clothes</h1>    
    <table align="center" border="1">
        <tr>
            <th>Item Name</th>
            <th>Manufacturer</th>
            <th>Category</th>
            <th>Size</th>
            <th>Amount</th>
            <th>Sub-total price</th>
        </tr>
        <tr>
            <td>@Model.UnitName</td>
            <td>@Model.UnitManufacturer</td>
            <td>@Model.UnitCategory</td>
            <td>@Model.UnitSize</td>
            <td>@Model.Amount</td>
            <td>@Model.Subtotal.ToString("F")</td>
        </tr>        
    </table>
    <br />
    <p align="center">
        <a href="/warehouse">Back to main</a>
    </p>    
</body>
</html>