@model WebStore.ViewModels.WebStoreViewModel

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Green Fox Fashion Web Store</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1 align="center">Green Fox Fashion Web Store</h1>
    <form action="/warehouse/summary" method="post">
        <select name="unitname">
            <option value="" selected disabled hidden>Select item name</option>
            @foreach (var name in @Model.ClothesNames)
            {
                <option value="@name">@name</option>
            }   
        </select>
        <select name="unitsize">
            <option value="" selected disabled hidden>Select size</option>
            @foreach (var size in @Model.ClothesSizes)
            {
                <option value="@size">@size</option>
            }
        </select>
        <input type="text" name="amount" placeholder="Amount 1-99" required minlength="1" maxlength="2"/>
        <button type="submit">GET TOTAL</button>
    </form>
    <br />
    <table border="1">
        <tr>
            <th>Item Name</th>
            <th>Manufacturer</th>
            <th>Category</th>
            <th>Size</th>
            <th>Unit price</th>
        </tr>
        @foreach (var unit in @Model.Clothes)
        {
            <tr>
                <td>@unit.ItemName</td>
                <td>@unit.Manufacturer</td>
                <td>@unit.Category</td>
                <td>@unit.Size</td>
                <td>@unit.UnitPrice.ToString("F")</td>
            </tr>
        }        
    </table>
</body>
</html>